<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Bienvenido a DriverZone , <%= @user.name %></h1>
<p>
  Su código de restablecimiento de contraseña es:
  <%=
    @user.reset_password_token
  %>
  <br/>
</p>
<p>¡Te esperamos en carreterra!</p>
<h3>Somos Nougat Company</h3>
</body>
</html>
